$black: rgb(66, 66, 76);;
$white: white;
$blue: #00207b;
$green: #81eea1;
$purple: #6f37cc;
$lightpurple: #696bff;
$darkestpurple: darken($purple, 30);
$gray: #f4f5f6;
$darkgray: #cdd3d8;
$darkestgray: #626a71;
$darkgreen: #096209;
$lightgreen: #dbf7db;
$darkred: #cc0505;
$lightred: #fdc2c2;

$headerheight: 125px;
$footerheight: 300px;
$largecontainerwidth: 1000px;
$paddingverysmallscreen: 0 100px;
$paddingsmalltablet: 0 50px;

$mobile: "(max-device-width: 550px)";
$small-tablet: "(max-device-width: 700px)";
$tablet: "(max-device-width: 1100px)";
$very-small-screen: "(max-device-width: 1200px)";
$small-screen: "(max-device-width: 1420px)";
$medium-screen: "(max-device-width: 1700px)";
$big-screen: "(min-device-width: 1900px)";
