#contact-form {
  background-color: $gray;
  padding: 30px;
  position: relative;
  width: 100%;
  margin: auto;
  border: 1px solid $darkgray;
  transition: 150ms border-color ease;
  box-sizing: border-box;
  @media #{$very-small-screen} {
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    z-index: 1;
    @media #{$very-small-screen} {
      width: 100%;
    }
  }
  input[type="submit"] {
    z-index: 1;
  }
  textarea {
    height: 200px;
  }
  .button-group {
    margin-top: 2px;
  }
  #submit-answer {
    margin-top: 8px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    text-align: center;
    &.error {
      background-color: $lightred;
      color: $darkred;
    }
    &.success {
      background-color: $lightgreen;
      color: $darkgreen;
    }
  }

}
