.form {
  h3 {
    color: $black;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    .value {
      input,textarea {
        width: 100%;
      }
    }
  }
  input[type='submit'] {
    margin-top: 20px;
  }
}
