input, textarea {
  margin:5px 0;
}

input[type="text"], input[type="email"], textarea {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 7px 12px;
  resize: vertical;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: 200ms all ease;
  ::placeholder {
    color: $darkestgray;
  }
  color: black;
  &:focus {
    box-shadow: 0 1px 3px 0 rgb(207, 215, 223);
  }
}

input[type="button"], input[type="submit"] {
  width: fit-content;
}
