input, textarea {
  margin:5px 0;
}

input[type="text"], input[type="email"], textarea {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 7px 12px;
  border: 1px solid $darkgray;
  resize: vertical;
  border-radius: 2px;
  ::placeholder {
    color: $darkestgray;
  }
  color: black;
}

input[type="button"], input[type="submit"] {
  width: fit-content;
}