#agile-office-page {
  .header-section {
    min-height: calc(70vh - 150px - #{$headerheight});
    .header-background {
      .botleft-topleft {
        width: 50%;
        left: 0;
        z-index: -1;
        height: 100px;
        transform: skewY(-40deg);
        background: linear-gradient(60deg, $lightpurple, $purple);
        position: absolute;
        @media #{$mobile} {
          width: 80%;
        }
      }
      .topright-botright {
        width: 50%;
        right: 0;
        z-index: -1;
        height: 100px;
        transform: skewY(60deg);
        background: linear-gradient(60deg, $lightpurple, $purple);
        position: absolute;
        @media #{$mobile} {
          right: -40px;
        }
      }
    }
    .content {
      figure {
        #web-figure {
          top: -20px;
          left: 0;
          width: 800px;
          height: auto;
          @media #{$medium-screen} {
            width: 600px;
            top: 10px;
          }
          @media #{$small-screen} {
            top: 40px;
            width: 500px;
          }
          @media #{$very-small-screen} {
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            position: relative;
          }
          @media #{$small-tablet} {
            width: 100%;
          }
        }
      }
    }
  }
  section:first-of-type {
    min-height: 30vh;
  }
}
