#main {
  #home-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
    background: linear-gradient(45deg, $blue, $purple);
    display: flex;
    box-sizing: border-box;
    @media #{$small-tablet} {
      height: auto;
      padding: 150px 50px;
      padding-bottom: 180px;
    }
    #centered-wrapper {
      justify-content: space-between;
      @media #{$small-screen} {
        h1 {
          margin-top: -30px;
        }
      }
      #computer-wrapper {
        width: 100%;
        justify-content: space-between;
        #computer-img {
          width: 400px;
          -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
          margin-left: 100px;
          @media #{$small-screen} {
            display: none;
          }
        }
        p {
          margin-top: 50px;
          font-size: 35px;
        }
      }
      #discover {
        margin-top: 80px;
        font-size: 25px;
        position: relative;
        display: none;
        @media #{$big-screen} {
          display: flex;
        }
        #arrow {
          top: 25px;
          position: absolute;
          width: 40px;
          margin-top: 20px;
          animation: scroll-down infinite 0.5s;
        }
      }
    }
    &:after {
      left: 0;
      bottom: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 150px;
      clip-path: polygon(0px 100%, 100% 6px, 100% 100%, 0px 100%);
      -webkit-clip-path: polygon(0 100%, 100% 6px, 100% 100%, 0 100%);
      background-color: rgba(255,255, 255, 1);
    }
  }
  #coworking-wrapper {
    width: 70%;
    position: relative;
    margin: 30px auto auto;
    align-items: center;
    justify-content: space-between;
    #coworking-img {
      min-width: 500px;
      max-width: 500px;
      margin-right: 100px;
      @media #{$tablet} {
        margin-right: 0px;
        min-width: 0;
        width: 100%;
      }
    }
    #coworking-paragraph-wrapper {
      @media #{$tablet} {
        margin-top: 50px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  #roadmap-wrapper {
    background-color: $gray;
    margin-top: 70px;
    padding: 50px 15%;
    h2 {
      text-align: center;
      margin-bottom: 60px;
    }
    #roadmap-grid {
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      grid-template-rows: 50% 50%;
      margin-bottom: 50px;
      grid-row-gap: 25px;
      @media #{$tablet} {
        grid-template-columns: 50% 50%;
      }
      @media #{$mobile} {
        display: block;
      }
      .roadstep {
        img {
          width: 128px;
          height: 128px;
        }
        padding: 15px 40px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        box-sizing: border-box;
        transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);;
        &:hover {
          transform: scale(1.05) translateZ(0);;
          -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.045));
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.045));
        }
      }
    }
  }
  #chill-wrapper {
    width: 70%;
    position: relative;
    margin: 30px auto auto;
    margin-top: 60px;
    margin-bottom: 0;
    align-items: center;
    justify-content: space-between;
    #chill-img {
      min-width: 350px;
      max-width: 350px;
      margin-right: 100px;
      @media #{$tablet} {
        margin-right: 0px;
        min-width: 0;
        width: 100%;
      }
    }
    #chill-paragraph-wrapper {
      @media #{$tablet} {
        margin-top: 50px;
        margin-bottom: 100px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  #server-wrapper {
    position: relative;
    mask: url("../../images/svg/wave.svg");
    background: linear-gradient(0deg, $blue, $purple);
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: left;
    -webkit-mask: url("../../images/svg/wave.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: left;
    padding: 50px 15%;
    padding-top: 200px;
    margin-top: -30px;
    padding-bottom: 125px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1px;
    img {
      margin-left: 100px;
      min-width: 300px;
      max-width: 300px;
      @media #{$tablet} {
        margin-left: 0;
        min-width: 0;
        width: 100%;
        margin-top: 50px;
      }
    }
    &:after {
      left: 0;
      bottom: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100px;
      clip-path: polygon(0px 100%, 100% 6px, 100% 100%, 0px 100%);
      -webkit-clip-path: polygon(0 100%, 100% 6px, 100% 100%, 100% 6px);
      background-color: rgba(255,255, 255, 1);
    }
  }
}