footer {
  border-top: 2px solid $gray;
  width: 100%;
  padding: 75px 15%;
  box-sizing: border-box;

  .footer-col {
    margin-right: 100px;
    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  #logoset {
    flex-wrap: wrap;
    width: 200px;
    img {
      margin: 3px;
      height: 32px;
      box-sizing: border-box;
    }
  }

}