header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  z-index: 2;
  &.absolute-header {
    position: absolute;
    background-color: transparent;
    nav {
      border-bottom: none;
      #main-logo {
        color: white;
      }
      #menu li a {
        color: white;
      }
    }
  }
  nav {
    height: $headerheight;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: $largecontainerwidth;
    max-width: $largecontainerwidth;
    margin: auto;
    border-bottom: 1px solid $darkgray;
    @media #{$very-small-screen} {
      min-width: 0;
      width: 100%;
      padding: $paddingverysmallscreen;
      height: $smallHeaderHeight;
    }
    @media #{$small-tablet} {
      padding: $paddingsmalltablet;
    }
    #main-logo {
      text-transform: uppercase;
      font-weight: bold;
      color: $darkestgray;
      transition: 200ms all ease;
      &:hover {
        color: $black;
      }
    }
    #menu {
      list-style-type: none;
      padding: 0;
      @media #{$very-small-screen} {
        display: none;
      }

      li {
        display: inline;
        a {
          font-size: 18px;
          color: $darkestgray;
          transition: 200ms all ease;
          &:hover {
            color: $black;
          }
        }
        &:not(:last-of-type){
          a {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
