#main {
  #who-section {
    background-image: url("res/../../../images/code.png");
    background-size: 120%;
    background-position: left;
    background-attachment: fixed;
    background-position-x: -135px;
    background-repeat: no-repeat;
  }
}
