html{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}
body{
  width: 100%;
  margin: 0;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
input, textarea {
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
  color: $black;
  &:visited {
    color: black;
  }
}
