.header-section {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 150px;
  @media #{$very-small-screen} {
    margin-bottom: 0;
    padding-bottom: 100px;
  }
  @media #{$small-tablet} {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header-background {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 150px);
    z-index: -1;
  }
  .content {
    display: flex;
    flex-direction: row;
    max-width: $largecontainerwidth;
    margin: auto;
    @media #{$very-small-screen} {
      flex-direction: column;
      padding: $paddingverysmallscreen;
    }
    @media #{$small-tablet} {
      padding: $paddingsmalltablet;
    }
    .header-section-text {
      flex: 1 0 55%;
      .section-title {
        position: relative;
        &:before {
          z-index: -1;
          left: -20px;
          top: -20px;
          position: absolute;
          display: block;
          border-radius: 50%;
          content: "";
          width: 85px;
          height: 85px;
          background: $green;
          background-size: 5px 5px;
          @media #{$small-tablet} {
            width: 70px;
            height: 70px;
            top: -10px;
            left: -15px;
          }
        }
      }
    }
    figure {
      position: relative;
      flex: 1 0 50%;
      margin: 0 0 0 -50px;
      @media #{$very-small-screen} {
        display: none;
      }
      img,svg {
        position: absolute;
        -webkit-transform: translateX(50px) translateY(0) perspective(3190px) rotateY(-29deg) rotateX(4deg) rotate(1deg);
        transform: translateX(50px) translateY(0) perspective(3190px) rotateY(-29deg) rotateX(4deg) rotate(1deg);
        -webkit-box-shadow: 1px 1px 5px 0 rgba(26,26,67,.05),39px 62.5px 125px -25px rgba(50,50,93,.5),23.4px 37.5px 75px -37.5px rgba(0,0,0,.6);
        box-shadow: 1px 1px 5px 0 rgba(26,26,67,.05),39px 62.5px 125px -25px rgba(50,50,93,.5),23.4px 37.5px 75px -37.5px rgba(0,0,0,.6);
      }
    }
  }
}

section {
  padding: 60px 0;
  box-sizing: border-box;
  &.padded {
    padding: 50px 0;
    @media #{$very-small-screen} {
      padding: $paddingverysmallscreen;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media #{$small-tablet} {
      padding: $paddingsmalltablet;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  &.gray {
    background-color: $gray;
  }
  &.black {
    background-color: $black;
  }
  &.colored {
    background: linear-gradient(140deg, $purple, $lightpurple);
    background-color: $purple;
  }
  &.black,&.colored {
    .section-title, .section-subtitle, .section-text, .section-large-text {
      color: white;
    }
  }
  .fit {
    height: 100%;
  }
  .content {
    max-width: $largecontainerwidth;
    margin: auto;
    .section-title {
      text-transform: uppercase;
    }
    &.shadow {
      padding: 40px;
      border-radius: 5px;
      -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
      box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
    }
  }
}

.header-section,section {
  .bold {
    padding: 10px;
    -webkit-box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
    background-color: $green;
    color: $darkestpurple !important;
  }
  .section-subtitle {
    margin-top: -10px;
    margin-bottom: 15px;
  }
  .section-text {
    font-size: 18px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .section-large-text {
    font-size: 20px;
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
  h1.center, h2.center, h3.center, h4.center, h5.center, h6.center, p.center, span.center, li.center, a.center {
    text-align: center;
  }
}
