@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");
@keyframes scroll-down {
  0% {
    padding-top: 0; }
  100% {
    padding-top: 20px; } }
@keyframes strong-animation {
  0% {
    width: 0; }
  100% {
    width: 105%; } }
html {
  font-family: 'Open Sans', sans-serif;
  width: 100%; }

body {
  width: 100%;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

input, textarea {
  outline: none; }

a {
  text-decoration: none;
  outline: none;
  color: #212121; }
  a:visited {
    color: black; }

.cb {
  color: #212121; }

.cw {
  color: white; }

.absolute {
  position: absolute; }

.row {
  display: flex;
  flex-direction: row; }

@media (max-width: 700px) {
  .m-row {
    display: flex;
    flex-direction: row; }

  .m-column {
    display: flex;
    flex-direction: column; } }
@media (max-width: 1100px) {
  .t-row {
    display: flex;
    flex-direction: row; }

  .t-column {
    display: flex;
    flex-direction: column; } }
.column {
  display: flex;
  flex-direction: column; }

.align {
  align-items: center; }

.justify {
  justify-content: center; }

.justified {
  justify-self: center; }

.aligned {
  align-self: center; }

.grid {
  display: grid;
  grid-gap: 20px; }
  .grid.col-2 {
    grid-template-columns: repeat(2, 1fr); }

strong {
  position: relative;
  z-index: 0; }
  strong:after {
    content: "";
    background-color: #81eea1;
    display: block;
    position: absolute;
    height: 8px;
    left: -2.5%;
    bottom: 1px;
    animation: strong-animation 0.5s;
    width: 105%;
    z-index: -1; }
  strong.purple:after {
    background-color: #6f37cc; }

h1, h2, h3, h4, h5, h6 {
  color: #2d1654; }
  h1.dot:after, h2.dot:after, h3.dot:after, h4.dot:after, h5.dot:after, h6.dot:after {
    content: ".";
    color: #6f37cc; }

h1 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 42px;
  line-height: 52px; }

h2 {
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 10px;
  font-weight: 700; }

h3 {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600; }

h4 {
  margin-bottom: 5px; }

p {
  color: #212121;
  margin-bottom: 5px; }

.header-section {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 150px; }
  @media (max-width: 1200px) {
    .header-section {
      margin-bottom: 0;
      padding-bottom: 100px; } }
  @media (max-width: 700px) {
    .header-section {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .header-section .header-background {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 150px);
    z-index: -1; }
  .header-section .content {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto; }
    @media (max-width: 1200px) {
      .header-section .content {
        flex-direction: column;
        padding: 0 100px; } }
    @media (max-width: 700px) {
      .header-section .content {
        padding: 0 50px; } }
    .header-section .content .header-section-text {
      flex: 1 0 50%; }
      .header-section .content .header-section-text .section-title {
        position: relative; }
        .header-section .content .header-section-text .section-title:before {
          z-index: -1;
          left: -20px;
          top: -20px;
          position: absolute;
          display: block;
          border-radius: 50%;
          content: "";
          width: 85px;
          height: 85px;
          background: #81eea1;
          background-size: 5px 5px;
          /** @media (max-width: 700px) {
             width: 60px;
             height: 60px;
             top: -10px;
             left: -10px;
           }**/ }
    .header-section .content figure {
      position: relative;
      flex: 1 0 50%;
      margin: 0; }
      @media (max-width: 1200px) {
        .header-section .content figure {
          display: none; } }
      .header-section .content figure img, .header-section .content figure svg {
        position: absolute;
        -webkit-transform: translateX(50px) translateY(0) perspective(3190px) rotateY(-29deg) rotateX(4deg) rotate(1deg);
        transform: translateX(50px) translateY(0) perspective(3190px) rotateY(-29deg) rotateX(4deg) rotate(1deg);
        -webkit-box-shadow: 1px 1px 5px 0 rgba(26, 26, 67, 0.05), 39px 62.5px 125px -25px rgba(50, 50, 93, 0.5), 23.4px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
        box-shadow: 1px 1px 5px 0 rgba(26, 26, 67, 0.05), 39px 62.5px 125px -25px rgba(50, 50, 93, 0.5), 23.4px 37.5px 75px -37.5px rgba(0, 0, 0, 0.6); }

section {
  padding: 60px 0;
  box-sizing: border-box; }
  section.padded {
    padding: 50px 0; }
    @media (max-width: 1200px) {
      section.padded {
        padding: 0 100px;
        padding-top: 50px;
        padding-bottom: 50px; } }
    @media (max-width: 700px) {
      section.padded {
        padding: 0 50px;
        padding-top: 50px;
        padding-bottom: 50px; } }
  section.gray {
    background-color: #f4f5f6; }
  section.black {
    background-color: #212121; }
  section.colored {
    background: linear-gradient(140deg, #6f37cc, #696bff);
    background-color: #6f37cc; }
  section.black .section-title, section.black .section-subtitle, section.black .section-text, section.black .section-large-text, section.colored .section-title, section.colored .section-subtitle, section.colored .section-text, section.colored .section-large-text {
    color: white; }
  section .fit {
    height: 100%; }
  section .content {
    max-width: 1000px;
    margin: auto; }
    section .content .section-title {
      text-transform: uppercase; }
    section .content.shadow {
      padding: 40px;
      border-radius: 5px;
      -webkit-box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025); }

.header-section .bold, section .bold {
  padding: 10px;
  -webkit-box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background-color: #81eea1;
  color: #2d1654 !important; }
.header-section .section-subtitle, section .section-subtitle {
  margin-top: -10px;
  margin-bottom: 15px; }
.header-section .section-text, section .section-text {
  font-size: 18px; }
  .header-section .section-text:not(:last-child), section .section-text:not(:last-child) {
    margin-bottom: 30px; }
.header-section .section-large-text, section .section-large-text {
  font-size: 20px; }
  .header-section .section-large-text:not(:last-child), section .section-large-text:not(:last-child) {
    margin-bottom: 45px; }
.header-section h1.center, .header-section h2.center, .header-section h3.center, .header-section h4.center, .header-section h5.center, .header-section h6.center, .header-section p.center, .header-section span.center, .header-section li.center, .header-section a.center, section h1.center, section h2.center, section h3.center, section h4.center, section h5.center, section h6.center, section p.center, section span.center, section li.center, section a.center {
  text-align: center; }

header {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  z-index: 2; }
  header nav {
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 1000px;
    max-width: 1000px;
    margin: auto;
    border-bottom: 1px solid #cdd3d8; }
    @media (max-width: 1200px) {
      header nav {
        min-width: 0;
        width: 100%;
        padding: 0 100px; } }
    @media (max-width: 700px) {
      header nav {
        padding: 0 50px; } }
    header nav #main-logo {
      text-transform: uppercase;
      font-weight: bold;
      color: #626a71;
      transition: 200ms all ease; }
      header nav #main-logo:hover {
        color: #212121; }
    header nav #menu {
      list-style-type: none;
      padding: 0; }
      @media (max-width: 700px) {
        header nav #menu {
          display: none; } }
      header nav #menu li {
        display: inline; }
        header nav #menu li a {
          font-size: 18px;
          color: #626a71;
          transition: 200ms all ease; }
          header nav #menu li a:hover {
            color: #212121; }
        header nav #menu li:not(:last-of-type) a {
          margin-right: 20px; }

footer {
  border-top: 1px solid #cdd3d8;
  width: 100%;
  box-sizing: border-box;
  height: 300px; }
  footer #footer-grid {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    min-width: 1000px;
    margin: auto; }
    @media (max-width: 1200px) {
      footer #footer-grid {
        flex-direction: column;
        min-width: 0;
        align-items: center;
        padding: 0 100px;
        padding-top: 50px;
        padding-bottom: 50px; } }
    @media (max-width: 700px) {
      footer #footer-grid {
        padding: 0 50px;
        padding-top: 50px;
        padding-bottom: 50px; } }
    footer #footer-grid .footer-col h4 {
      white-space: nowrap; }
      @media (max-width: 1200px) {
        footer #footer-grid .footer-col h4 {
          text-align: center; } }
    footer #footer-grid .footer-col:not(:last-child) {
      margin-right: 100px; }
      @media (max-width: 1200px) {
        footer #footer-grid .footer-col:not(:last-child) {
          margin-right: 0;
          margin-bottom: 40px; } }
    footer #footer-grid .footer-col ul {
      list-style-type: none;
      padding: 0; }
      @media (max-width: 1200px) {
        footer #footer-grid .footer-col ul li {
          text-align: center; } }
    footer #footer-grid #logoset {
      flex-wrap: wrap;
      width: 200px; }
      footer #footer-grid #logoset img {
        margin: 3px;
        height: 32px;
        box-sizing: border-box; }
      @media (max-width: 1200px) {
        footer #footer-grid #logoset {
          align-items: center;
          justify-content: center; } }

#main #who-section {
  background-image: url("res/../../../images/code.png");
  background-size: 120%;
  background-position: left;
  background-attachment: fixed;
  background-position-x: -135px;
  background-repeat: no-repeat; }

input, textarea {
  margin: 5px 0; }

input[type="text"], input[type="email"], textarea {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 7px 12px;
  resize: vertical;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: 200ms all ease;
  color: black; }
  input[type="text"] ::placeholder, input[type="email"] ::placeholder, textarea ::placeholder {
    color: #626a71; }
  input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    box-shadow: 0 1px 3px 0 #cfd7df; }

input[type="button"], input[type="submit"] {
  width: fit-content; }

#contact-form {
  background-color: #f4f5f6;
  padding: 30px;
  position: relative;
  width: 100%;
  margin: auto;
  border: 1px solid #cdd3d8;
  transition: 150ms border-color ease;
  box-sizing: border-box; }
  @media (max-width: 1200px) {
    #contact-form {
      width: 100%;
      padding: 0;
      background-color: transparent;
      border: none; } }
  #contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    width: 100%;
    z-index: 1; }
    @media (max-width: 1200px) {
      #contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
        width: 100%; } }
  #contact-form input[type="submit"] {
    z-index: 1; }
  #contact-form textarea {
    height: 200px; }
  #contact-form .button-group {
    margin-top: 2px; }
  #contact-form #submit-answer {
    margin-top: 8px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    text-align: center; }
    #contact-form #submit-answer.error {
      background-color: #fdc2c2;
      color: #cc0505; }
    #contact-form #submit-answer.success {
      background-color: #dbf7db;
      color: #096209; }

.button {
  padding: 7px 12px;
  background-color: white;
  border-radius: 5px;
  color: #2d1654;
  text-wrap: none;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 8px 2px rgba(26, 26, 67, 0.3);
  -moz-box-shadow: 4px 4px 8px 2px rgba(26, 26, 67, 0.3);
  box-shadow: 4px 4px 8px 2px rgba(26, 26, 67, 0.3);
  text-transform: uppercase;
  margin: 10px;
  font-size: 16px;
  border: 1px solid white;
  transition: 200ms all ease;
  cursor: pointer; }
  .button.xl {
    font-size: 18px;
    padding: 9px 14px; }
  .button:hover {
    color: #6f37cc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #cdd3d8; }
  .button.cta {
    background-color: #2d1654;
    color: white;
    border-color: #2d1654; }
    .button.cta:hover {
      background-color: #6f37cc; }

a.button[target=_blank]:after {
  margin-left: 10px;
  content: "";
  background-image: url("../../../res/images/svg/target-blank.svg");
  width: 16px;
  height: 16px;
  display: inline-block; }

.button-group {
  margin: -10px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media (max-width: 550px) {
    .button-group {
      align-items: start;
      flex-direction: column; } }

.card {
  padding: 30px 60px 30px 100px;
  background-color: #f4f5f6;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  transition: 200ms all ease;
  box-sizing: border-box;
  cursor: pointer; }
  @media (max-width: 1200px) {
    .card {
      padding-left: 60px; } }
  .card h3, .card span {
    text-align: center;
    z-index: 2;
    transition: 200ms all ease; }
  .card i {
    transition: 200ms all ease;
    position: absolute;
    left: -30px;
    transform: rotate(15deg) translateY(-50%);
    top: 50%;
    font-size: 80px;
    z-index: 1;
    color: #6f37cc;
    opacity: 0.5; }
    @media (max-width: 1200px) {
      .card i {
        opacity: 0.2;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%); } }
  .card:hover, .card.active {
    transform: translateY(-5px); }
    .card:hover h3, .card:hover span, .card:hover i, .card.active h3, .card.active span, .card.active i {
      color: #626a71; }

.card-grid {
  margin: 40px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 30px; }
  @media (max-width: 1100px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 550px) {
    .card-grid {
      grid-template-columns: repeat(1, 1fr); } }

.tab-content-wrapper {
  margin-top: 40px; }
  .tab-content-wrapper .tab-content {
    opacity: 0;
    display: none;
    transition: 200ms all ease; }
    .tab-content-wrapper .tab-content.active {
      display: block;
      z-index: 1;
      opacity: 1;
      animation: 800ms tabAnimation; }

@keyframes tabAnimation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.list {
  padding-left: 0;
  list-style-type: none; }
  .list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    font-size: 18px; }
    .list li:before {
      content: '';
      width: 20px;
      min-width: 20px;
      min-height: 20px;
      height: 20px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 15px; }
  .list.check-list li:before {
    background-image: url("res/../../../images/checkmark.png"); }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .form h3 {
    color: #212121; }
  .form .field {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .form .field .value input, .form .field .value textarea {
      width: 100%; }
  .form input[type='submit'] {
    margin-top: 20px; }

#agile-office-page .header-section {
  min-height: calc(70vh - 150px - 125px); }
  #agile-office-page .header-section .header-background .botleft-topleft {
    width: 50%;
    left: 0;
    z-index: -1;
    height: 100px;
    transform: skewY(-40deg);
    background: linear-gradient(60deg, #6f37cc, #696bff);
    position: absolute; }
    @media (max-width: 550px) {
      #agile-office-page .header-section .header-background .botleft-topleft {
        width: 80%; } }
  #agile-office-page .header-section .header-background .botleft-topleft-middle {
    width: 25%;
    left: 115px;
    z-index: -1;
    top: 100%;
    height: 100px;
    border: 1px solid #cdd3d8;
    background: #f4f5f6;
    position: absolute; }
    @media (max-width: 1700px) {
      #agile-office-page .header-section .header-background .botleft-topleft-middle {
        display: none; } }
  #agile-office-page .header-section .header-background .topright-botright {
    width: 50%;
    right: 0;
    z-index: -1;
    height: 140px;
    transform: skewY(60deg);
    background: linear-gradient(60deg, #696bff, #6f37cc);
    position: absolute; }
    @media (max-width: 550px) {
      #agile-office-page .header-section .header-background .topright-botright {
        right: -40px; } }
  #agile-office-page .header-section .content figure #web-figure {
    top: -40px;
    left: 0;
    width: 800px;
    height: auto; }
    @media (max-width: 1700px) {
      #agile-office-page .header-section .content figure #web-figure {
        width: 600px;
        top: 10px; } }
    @media (max-width: 1420px) {
      #agile-office-page .header-section .content figure #web-figure {
        top: 40px;
        width: 500px; } }
    @media (max-width: 1200px) {
      #agile-office-page .header-section .content figure #web-figure {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        position: relative; } }
    @media (max-width: 700px) {
      #agile-office-page .header-section .content figure #web-figure {
        width: 100%; } }
#agile-office-page section:first-of-type {
  min-height: 30vh; }
#agile-office-page #shipping-section {
  height: 500px;
  background-image: url("res/../../../images/world.png");
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  animation: worldAnimation 2s infinite; }
#agile-office-page #payment-section #fake-payment-form {
  margin-left: 50px;
  padding: 40px;
  background-color: #f4f5f6;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  display: flex;
  flex-direction: column; }
@keyframes worldAnimation {
  0% {
    background-position: center 50px; }
  50% {
    background-position: center 70px; }
  100% {
    background-position: center 50px; } }

/*# sourceMappingURL=main.css.map */
