@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@keyframes scroll-down {
  0% {
    padding-top: 0; }
  100% {
    padding-top: 20px; } }
@keyframes strong-animation {
  0% {
    width: 0; }
  100% {
    width: 105%; } }
html {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none; }
  a:visited {
    color: black; }

.cb {
  color: #42424c; }

.cw {
  color: white; }

.absolute {
  position: absolute; }

.row {
  display: flex;
  flex-direction: row; }

@media (max-device-width: 850px) {
  .m-row {
    display: flex;
    flex-direction: row; }

  .m-column {
    display: flex;
    flex-direction: column; } }
@media (max-device-width: 1100px) {
  .t-row {
    display: flex;
    flex-direction: row; }

  .t-column {
    display: flex;
    flex-direction: column; } }
.column {
  display: flex;
  flex-direction: column; }

.align {
  align-items: center; }

.justify {
  justify-content: center; }

strong {
  position: relative;
  z-index: 0; }
  strong:after {
    content: "";
    background-color: #81eea1;
    display: block;
    position: absolute;
    height: 8px;
    left: -2.5%;
    bottom: 1px;
    animation: strong-animation 0.5s;
    width: 105%;
    z-index: -1; }
  strong.purple:after {
    background-color: #6f37cc; }

h1, h2, h3, h4, h5, h6 {
  color: #00207b; }
  h1.dot:after, h2.dot:after, h3.dot:after, h4.dot:after, h5.dot:after, h6.dot:after {
    content: ".";
    color: #6f37cc; }

h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 70px; }

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px; }

h3 {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 25px; }

h4 {
  margin-top: 5px;
  margin-bottom: 5px; }

p {
  color: #42424c;
  margin-top: 5px;
  margin-bottom: 5px; }

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 75px;
  position: absolute;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  z-index: 2; }
  header #menu {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    @media (max-device-width: 850px) {
      header #menu {
        display: none; } }
    header #menu li {
      display: inline; }
      header #menu li a {
        font-size: 20px;
        margin-right: 20px;
        color: white; }

footer {
  width: 100%;
  padding: 100px 15%;
  box-sizing: border-box; }
  footer form {
    background-color: #f4f5f6;
    padding: 20px 50px;
    position: relative;
    width: min-content;
    margin: auto;
    border: 1px solid #cdd3d8;
    transition: 150ms border-color ease; }
    footer form input[type="text"], footer form input[type="email"], footer form textarea {
      width: 500px; }
    footer form .shadow-wrapper {
      width: calc(100% + 20px);
      height: calc(100% + 20px);
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      transition: 150ms all ease; }
      footer form .shadow-wrapper:after {
        content: "";
        position: absolute;
        z-index: -1;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        left: 0;
        top: 0;
        background-color: #6f37cc;
        transition: 500ms all ease; }
      footer form .shadow-wrapper .contact-triangle-1 {
        position: absolute;
        left: -19px;
        z-index: -1;
        bottom: 20px;
        transition: 500ms all ease;
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 20px solid #6f37cc;
        border-left: 20px solid transparent; }
      footer form .shadow-wrapper .contact-triangle-2 {
        position: absolute;
        top: -19px;
        z-index: -1;
        right: 20px;
        transition: 500ms all ease;
        display: inline-block;
        height: 0;
        width: 0;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #6f37cc; }
      footer form .shadow-wrapper:hover:after, footer form .shadow-wrapper:not(.tamere):after {
        left: 20px;
        top: 20px;
        background-color: #6f37cc;
        transition: 150ms all ease; }
      footer form .shadow-wrapper:hover .contact-triangle-1, footer form .shadow-wrapper:not(.tamere) .contact-triangle-1 {
        left: 1px;
        bottom: 0;
        transition: 150ms all ease; }
      footer form .shadow-wrapper:hover .contact-triangle-2, footer form .shadow-wrapper:not(.tamere) .contact-triangle-2 {
        top: 1px;
        right: 0;
        transition: 150ms all ease; }
    footer form:hover {
      border-color: #f4f5f6; }

input, textarea {
  margin: 5px 0; }

input[type="text"], input[type="email"], textarea {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 7px 12px;
  border: 1px solid #cdd3d8;
  resize: vertical;
  border-radius: 2px;
  color: black; }
  input[type="text"] ::placeholder, input[type="email"] ::placeholder, textarea ::placeholder {
    color: #6c757c; }

input[type="button"], input[type="submit"] {
  width: fit-content; }

#main #home-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  background: linear-gradient(45deg, #00207b, #6f37cc);
  display: flex;
  box-sizing: border-box; }
  @media (max-device-width: 850px) {
    #main #home-wrapper {
      height: auto;
      padding: 150px 50px;
      padding-bottom: 180px; } }
  #main #home-wrapper #centered-wrapper {
    justify-content: space-between; }
    @media (max-device-width: 1420px) {
      #main #home-wrapper #centered-wrapper h1 {
        margin-top: -30px; } }
    #main #home-wrapper #centered-wrapper #computer-wrapper {
      width: 100%;
      justify-content: space-between; }
      #main #home-wrapper #centered-wrapper #computer-wrapper #computer-img {
        width: 400px;
        -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
        margin-left: 100px; }
        @media (max-device-width: 1420px) {
          #main #home-wrapper #centered-wrapper #computer-wrapper #computer-img {
            display: none; } }
      #main #home-wrapper #centered-wrapper #computer-wrapper p {
        margin-top: 50px;
        font-size: 35px; }
    #main #home-wrapper #centered-wrapper #discover {
      margin-top: 80px;
      font-size: 25px;
      position: relative;
      display: none; }
      @media (min-device-width: 1900px) {
        #main #home-wrapper #centered-wrapper #discover {
          display: flex; } }
      #main #home-wrapper #centered-wrapper #discover #arrow {
        top: 25px;
        position: absolute;
        width: 40px;
        margin-top: 20px;
        animation: scroll-down infinite 0.5s; }
  #main #home-wrapper:after {
    left: 0;
    bottom: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 150px;
    clip-path: polygon(0px 100%, 100% 6px, 100% 100%, 0px 100%);
    -webkit-clip-path: polygon(0 100%, 100% 6px, 100% 100%, 0 100%);
    background-color: white; }
#main #coworking-wrapper {
  width: 70%;
  position: relative;
  margin: 30px auto auto;
  align-items: center;
  justify-content: space-between; }
  #main #coworking-wrapper #coworking-img {
    min-width: 500px;
    max-width: 500px;
    margin-right: 100px; }
    @media (max-device-width: 1100px) {
      #main #coworking-wrapper #coworking-img {
        margin-right: 0px;
        min-width: 0;
        width: 100%; } }
  @media (max-device-width: 1100px) {
    #main #coworking-wrapper #coworking-paragraph-wrapper {
      margin-top: 50px; } }
  #main #coworking-wrapper #coworking-paragraph-wrapper p {
    font-size: 20px; }
#main #roadmap-wrapper {
  background-color: #f4f5f6;
  margin-top: 70px;
  padding: 50px 15%; }
  #main #roadmap-wrapper h2 {
    text-align: center;
    margin-bottom: 60px; }
  #main #roadmap-wrapper #roadmap-grid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
    margin-bottom: 50px;
    grid-row-gap: 25px; }
    @media (max-device-width: 1100px) {
      #main #roadmap-wrapper #roadmap-grid {
        grid-template-columns: 50% 50%; } }
    @media (max-device-width: 550px) {
      #main #roadmap-wrapper #roadmap-grid {
        display: block; } }
    #main #roadmap-wrapper #roadmap-grid .roadstep {
      padding: 15px 40px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      box-sizing: border-box;
      transition: 1s all cubic-bezier(0.23, 1, 0.32, 1); }
      #main #roadmap-wrapper #roadmap-grid .roadstep img {
        width: 128px;
        height: 128px; }
      #main #roadmap-wrapper #roadmap-grid .roadstep:hover {
        transform: scale(1.05) translateZ(0);
        -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.045));
        filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.045)); }
#main #chill-wrapper {
  width: 70%;
  position: relative;
  margin: 30px auto auto;
  margin-top: 60px;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between; }
  #main #chill-wrapper #chill-img {
    min-width: 350px;
    max-width: 350px;
    margin-right: 100px; }
    @media (max-device-width: 1100px) {
      #main #chill-wrapper #chill-img {
        margin-right: 0px;
        min-width: 0;
        width: 100%; } }
  @media (max-device-width: 1100px) {
    #main #chill-wrapper #chill-paragraph-wrapper {
      margin-top: 50px;
      margin-bottom: 100px; } }
  #main #chill-wrapper #chill-paragraph-wrapper p {
    font-size: 20px; }
#main #server-wrapper {
  position: relative;
  mask: url("../../images/svg/wave.svg");
  background: linear-gradient(0deg, #00207b, #6f37cc);
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: left;
  -webkit-mask: url("../../images/svg/wave.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: left;
  padding: 50px 15%;
  padding-top: 200px;
  margin-top: -30px;
  padding-bottom: 125px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -1px; }
  #main #server-wrapper img {
    margin-left: 100px;
    min-width: 300px;
    max-width: 300px; }
    @media (max-device-width: 1100px) {
      #main #server-wrapper img {
        margin-left: 0;
        min-width: 0;
        width: 100%;
        margin-top: 50px; } }
  #main #server-wrapper:after {
    left: 0;
    bottom: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    clip-path: polygon(0px 100%, 100% 6px, 100% 100%, 0px 100%);
    -webkit-clip-path: polygon(0 100%, 100% 6px, 100% 100%, 100% 6px);
    background-color: white; }

/*# sourceMappingURL=main.css.map */
